/.next
node_modules/**
package.json
package-lock.json
yarn.lock
.vscode
.prettirrc
.eslintrc.js
.nvmrc
.watchmanconfig
.prettierignore
.prettierrc.js
.eslintrc.js
tsconfig.json
next.config.js
postcss.config.js
tailwind.config.js
vercel.json